{{ if partialSlider:0:img }}
  <div class="row"><div class="{{columns}} columns">
  {{ if partialSlider:0:caption }}
    <div id="partialSliderWithCaption">
    {{ partialSlider }}
      <img src="{{ img }}" alt="{{ caption }}" data-caption="#caption{{index}}" />
      <span class="orbit-caption" id="caption{{index}}">{{ caption }}</span>
    {{ /partialSlider }}
    </div>
  {{ else }}
    <div id="partialSlider" >
    {{ partialSlider }}
      <img src="{{ img }}"/>
    {{ /partialSlider }}
    </div></div>
  {{ endif }}
{{ endif }}