<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="{{ homepage }}" id="logo">{{ _site_name }}</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="right">
      {{ nav from="/" max_depth="1" }}
        <li><a href="{{ url }}">{{ title }}</a></li>
      {{ /nav }}
      {{ if logged_in }}
      
      {{ else }}
        {{ loginform:zurb_modal }}
          {{ div }}
          <li>{{ button }}</li>
        {{ /loginform:zurb_modal }}
      {{ endif }}
    </ul>
  </section>
</nav>